<div class="col-md-3 col-xl-3 my-2">
  <div class="card border-1 h-100">
    <a href="{{ this.url }}" target="_blank" title="{{ this.name }}">
      <img class="card-img-top" src="{{ '/static/images/membership/logos/{}'.format(this.logo)|url }}" alt="{{ this.name }}">
    </a>
  </div>
</div>
